* {
  box-sizing: border-box;
}

html {
  font-family: 'Arial';
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

nav a {
  padding-bottom: .25em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  border: 5px solid #1C90F6;
  width: 300px;
  height: 500px;
  padding: 1.25em;
  background-color: transparent;
  text-align: center;
  border-radius: 25px;
}

h2.login{
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
}

div.card-body {
  padding: .5em;
}

form {
  padding: 1em;
}

.invalid-feedback {
  display: flex;
  font-size: .5em;
  color: red;
}

.card-small {
  display: flex;
  justify-content: center;
}

.card-about {
  padding: 4em;
  margin: .5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

body {
  background: linear-gradient(180deg, #7ec0ee 0%, #fff 100%);
  color: #1C90F6;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  background-color:#1C90F6;
  border: 1px solid #1C90F6;
  color: white;
  box-shadow: 1px 1px 5px gray;
  border-radius: 25px;
  width: 100px;
  transition: all 1s ease-in-out;
}

button:hover {
  transform: scale(1.25);
  transition: all 1s ease-in-out;
}

a:-webkit-any-link {
  color: #1C90F6;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

a:-webkit-any-link:hover {
  color: white;
  transition: all 1s ease-in-out;
}